body {
    margin: 50px 0px;
    padding: 0px;
    text-align: center;
	font-family:Helvetica,Verdana,san-serif;
}

div#main {
    width: 600px;
    margin: 0px auto;
    text-align: left;
    padding: 15px;
    border: 1px solid #000000;
    background-color: #eeeeee;
    text-align:center;
}
h1 {
	font-family: 'Sansita One', cursive;
	font-size:72px;
	margin:5px;
}

h1 a{ 
	color:black;
	text-decoration:none;
}

h3{
	margin:5px;
	margin-bottom:15px;
	font-size:20px;
	color:#666;
}

input#url {
	width:100%;
	padding:5px;
}

input#actual_url {
	width:100%;
	padding:10px;
}

input.button {
	padding:5px 10px 5px 10px;
}

textarea {
	width:100%;
}