<html>
   <head>
      <title>Longen - UnShorten URLs</title>
      <link href='http://fonts.googleapis.com/css?family=Sansita+One' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="{{ static_url("layout.css") }}"/>
   </head>
   <body>
      <div id="main">
        <h1><a href="/">Longen</a></h1>
        <h3>Expand any short URLs</h3>
      	<form action="/expand" method="GET">
      	<input type="text" name="url" id="url" size="50" value="{{ short_url }}"/><br /><br/>
      	<input type="submit" name="submit" value="Expand" class="button" />
      	</form>
      	<br/>
      	<p>
	      	<label for="actual_url">Expanded to</label><br/>
	      	<input type="text" name="url" id="actual_url" size="50" value="{{ actual_url }}" readonly="readonly"/><br /><br/>
	      	{% if not actual_url.startswith('Error') %}
	      	<label for="redirect_url">Or you can go directly to the URL</label> <br/>
	      	<a id="redirect_url" href="/r?url={{ short_url }}">http://localhost:8888/r?url={{ short_url }}</a>
	      	{% end %}
      	</p>
      </div>
   </body>
 </html>