<html>
   <head>
      <title>Longen - UnShorten URLs</title>
      <link href='http://fonts.googleapis.com/css?family=Sansita+One' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="{{ static_url("layout.css") }}"/>
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-6819872-3']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
   </head>
   <body>
      <div id="main">
        <h1><a href="/">Longen</a></h1>
        <h3>Expand any short URLs</h3>
      	<form action="/expand" method="GET">
      	<input type="text" name="url" id="url" size="50" value="{{ short_url }}"/><br /><br/>
      	<input type="submit" name="submit" value="Expand" class="button" />
      	</form>
      	<br/>
      	<p>
	      	<label for="actual_url">Expansion (click to select)</label><br/>
	      	<input type="text" name="url" id="actual_url" size="50" value="{{ actual_url }}" readonly="readonly"/><br /><br/>
	      	{% if not actual_url.startswith('Error') %}
	      	<label for="redirect_url">Or you can go directly to the URL</label> <br/>
	      	<a id="redirect_url" href="/r?url={{ short_url }}">http://longen.herokuapp.com/r?url={{ short_url }}</a>
	      	{% end %}
      	</p>
         <p id="footer">&copy; 2011 Srinivasan</p>
      </div>
   </body>
 </html>
